.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    font-weight: bold;
    text-decoration: underline rgb(2, 2, 92);
    color: darkblue;
    margin-left: 10px;
    padding: 10px;
}

ul.list {
    list-style-type: square;
    font-family: 'Montserrat', sans-serif;
}

li.h2 {
    margin-left: 1em;
    font-size: 120%;
}

li.h3 {
    margin-left: 3em;
    font-size: 115%;
}

li.h4 {
    margin-left: 5em;
    font-size: 110%;
}

li.h5 {
    margin-left: 7em;
    font-size: 105%;
}

li.h6 {
    margin-left: 9em;
    font-size: 100%;
}